.form__title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 47px;
}

.form__row {
  display: flex;
  margin-bottom: 26px;
}

.form__input {
  flex: 1;
  margin-right: 26px;
  border-radius: 5px;
  border: 1px solid transparent;
  background: #ffffff;
  padding: 20px 30px;
  font-size: 18px;
  color: #1A1B1E;
}

.form__input:focus {
  border-color: #E5C288;
}

.form__input::placeholder {
  color: #666666;
}

.form__input:last-child {
  margin-right: 0px;
}

.form__input--textarea {
  height: 235px;
}

.form__controls {
  display: flex;
  margin-bottom: 34px;
}

.form__controls-title {
  width: 33%;
}

.controls {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.controls__item {
  margin-bottom: 10px;
  margin-right: 7px;
}

.controls__elem {
  cursor: pointer;
}

.controls__checkbox {
  display: none;
}

.controls__checkbox:checked ~ .controls__tag {
  background: #B9EAE4;
}

.form__btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.form__btn {
  margin-left: 22px;
}