.separator {
  background: #E5C288 url(../../img/phone-n-hand\ 1.png) right 27% bottom no-repeat;
  min-height: 363px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -34px;
}

.separator__content {
  max-width: 45%;

}

.separator__title {
  font-size: 48px;
  font-weight: 700;  
}
