.icon {
  margin-right: 74px;
  margin-bottom: 8px;
}

.icon__item {
  display: inline-block;
  vertical-align: middle;
  width: 36px;
  height: 36px;
  background-color: transparent;
  margin-right: 6px;
  padding: 10px;
  border-radius: 50%;
  position: relative;
}

.socials__item:last-child {
  margin-right: 0;
}

.icon__link {
  content: '';
  display: block;
  position: absolute;
  text-decoration: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  opacity: 0.5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon__item--icon--tg .icon__link {
  background: url('../../img/css_sprites.png') -178px -10px;
}

.icon__item--icon--vk .icon__link {
  background: url('../../img/css_sprites.png') -122px -10px;
}

.icon__item--icon--fb .icon__link {
  background: url('../../img/css_sprites.png') -10px -10px;
}

.icon__item--icon--ig .icon__link {
  background: url('../../img/css_sprites.png') -66px -10px;
}

.icon__link:hover {
  opacity: 1;
}